/* Estilo global */
* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden !important; */
  /* border: solid 1px; */
}
body {
  margin: 0;
  background-image: url(../img/floor-1256804_1280.jpg);
}
/* Layout */
#grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "section_1"
    "section_2"
    "section_3";
}
.grid_area1 {
  grid-area: section_1;
}
.grid_area2 {
  grid-area: section_2;
}
.grid_area3 {
  grid-area: section_3;
}

/* Navbar */

.container-fluid.flex-row-reverse {
  justify-content: center;
  padding:0
}


.nav-link {
  text-align: center;
  margin: 5px;
  padding:  5px;
  font-size: 1.8rem;
  font-weight: 600;
}
.icon_wasap {
  height: 25px;
  width: 25px;
}
a {
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 35px;
}
.logo_container {
  width: 300px;
  border-radius: 50px;
}


/* Flex */
.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Style text */
p {
  background-color: white;
  border-radius: 25px;
}
div.horarios h3 {
  font-family: "Seaweed Script", Sans-serif;
  background-color: white;
  border-radius: 25px;
  margin: 30px;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}
ul.list_time li {
  background-color: white;
  border-radius: 25px;
  font-family: Sans-serif;
  text-align: center;
  list-style: none;
  margin: 10px;
  font-size: 1.8rem;
  font-weight: 400;
}
ul {
  padding-left: 0;
}
/* Reserva */
div.escribenos {
  background-color: white;
  border-radius: 25px;
  margin: 30px;
}
/* Boton reserva */
div.escribenos div a {
  display: flex;
  justify-content: center;
  background-color: rgb(144, 238, 144);
  border: 5px solid green;
  border-radius: 10px;
  position: relative;
  bottom: 30px;
  margin: 30px;
  font-size: 45px;
  font-weight: bold;
  font-family: "Saira Semi Condensed", Sans-serif;
  text-decoration: none;
}
div.escribenos p {
  font-family: "Seaweed Script", Sans-serif;
  font-size: 45px;
  text-align: center;
}
section {
  width: 100vw;
}
/* Contenedor img wsp reserva */
img.logo_reserva {
  margin-top: 14px;
  height: 45px;
  width: 45px;
}
/* Mapa */
h3.place {
  font-family: "Seaweed Script", Sans-serif;
  font-size: 35px;
  background-color: white;
  border-radius: 25px;
  font-weight: 400;
  text-align: center;
}
/* Footer */
footer {
  background-color: black;
  grid-area: footer;
}
footer div {
  display: flex;
  justify-content: center;
}
footer div h6 {
  color: rgba(255, 255, 255, 0.607);
}
.sn_icon {
  margin: 15px;
  height: 45px;
}

@media (min-width: 768px) {


  .navbar-brand  {
    height: 50%;
    width: 50%;
    
  }
}

/* ESTILOS CARTA */

.container_carta {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "Nav_bar"
    "carta_s1"
    "carta_s2"
    "carta_s3"
    "carta_s4"
    "carta_s5"
    "carta_s6"
    "footer";
}

.Nav_bar { grid-area: Nav_bar; }

.carta_s1 { grid-area: carta_s1; }

.carta_s2 { grid-area: carta_s2; }

.carta_s3 { grid-area: carta_s3; }

.carta_s4 { grid-area: carta_s4; }

.carta_s5 { grid-area: carta_s5; }

.carta_s6 { grid-area: carta_s6; }

.footer { grid-area: footer; }


h2, h3, h4, li {
  
  text-align: center;
  ;
}
.Nav_bar {
  height: 50%;
}
.text_menu {
  color: white;
  background-color: #0d0d0dba ;
}
.Nav_bar {
  margin-bottom: 0px;}
  