/* Estilo global */
* {
  margin: 0;
  padding: 0;
}

#grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "section_1"
    "section_2"
    "section_3"
    "section_4"
    "footer";
}

.grid_area1 {
  grid-area: section_1;
}
.grid_area2 {
  grid-area: section_2;
}
.grid_area3 {
  grid-area: section_3;
  grid-template-columns: 1fr 1fr;
}
.grid_area4 {
  grid-area: section_4;
}

footer{
  grid-area: footer;
}
footer div {
  display: flex;
  justify-content: center;
}
#grid_container2 {
  display: block;;
  align-items: center;
}
.logo_wasap {
  height: 45px;
  width: 45px;
}
a{
  text-align: center;;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size:35px;
  font-family: "Seaweed Script", Sans-serif;

}
.logo_argentino{
  width: 100vw;
}
div {
  width: 100vw;
}
li {
  text-align: center;
}
.redes {
  height: 45px;
}
.img_google{
  height: 5rem;

}
